body {
    background-color: rgb(214, 184, 180);
}

h1 {
    color: black;
    margin-left: 0px;
}

h2 {
    margin-top: 0px;
}
.mavs {
    color: blue;
}

.phx {
    color: rgb(243, 74, 7);
}
.phx-green{
    color: rgb(13, 224, 13);
}
.win {
    font-weight: bold;
}
.res-jogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .3em;
}