{{template "admin" .}}

{{define "title"}}
<title>Calendário Admin</title>
{{end}}

{{define "css"}}

{{end}}

{{define "content"}}
<!-- partial -->
<div class="col-md-9 m-1 p-1">
  <div class="text-center">
    <h3>{{index .StringMap "atual_mes"}}/{{index .StringMap "atual_ano"}}</h3>
  </div>

  <div class="float-start">
    <a href="/loggedadmin/calendario?y={{index .StringMap "ano_ant_mes"}}&m={{index .StringMap "ant_mes" }}"
      class="btn btn-sm btn-outline-info">&lt;&lt;</a>
  </div>

  <div class="float-end">
    <a href="/loggedadmin/calendario?y={{index .StringMap "ano_prox_mes"}}&m={{index .StringMap "prox_mes" }}"
      class="btn btn-sm btn-outline-info">&gt;&gt;</a>
  </div>
  <div class="clearfix"></div>
</div>
<!-- content-wrapper ends -->
{{end}}

{{define "js"}}

{{end}}