{{template "admin" .}}

{{define "title"}}
<title>Calendário Admin</title>
{{end}}

{{define "css"}}
  <style>
    td a{
      text-decoration: none;
      color: inherit;
    }
  </style>
{{end}}

{{define "content"}}
{{$livros := index .Data "livros"}}
{{$dnm := index .IntMap "dias_no_mes"}}
{{$atMes := index .IntMap "mesAtual"}}
{{$atAno := index .StringMap "atual_ano"}}

<div class="col-md-9 m-1 p-1">
  <div class="text-center">
    <h3>{{index .StringMap "atual_mes"}}/{{index .StringMap "atual_ano"}}</h3>
  </div>

  <div class="float-start">
    <a href="/loggedadmin/calendario?y={{index .StringMap "ano_ant_mes"}}&m={{index .StringMap "ant_mes" }}"
      class="btn btn-sm btn-outline-info">&lt;&lt;</a>
  </div>

  <div class="float-end">
    <a href="/loggedadmin/calendario?y={{index .StringMap "ano_prox_mes"}}&m={{index .StringMap "prox_mes" }}"
      class="btn btn-sm btn-outline-info">&gt;&gt;</a>
  </div>
  <div class="clearfix"></div>

  {{range $livros}}
      {{$livroId := .ID}}
      {{$blocks := index $.Data (printf "block_map_%d" .ID)}}
      {{$reservas := index $.Data (printf "reservas_map_%d" .ID)}}

      
      <h4 class="p-1 mt-2">{{.NomeLivro}}</h4>

      <div style="overflow:auto">
        <table class="table table-bordered table-sm">
          <tbody>
            <tr class="table-dark">
              {{range $index := iterate $dnm}}
                {{if gt (index $reservas (printf "%02d-%02d-%s" $index $atMes $atAno)) 0}} 
                <td class="table-danger"><a href="/loggedadmin/reservas/cal/{{index $reservas (printf "%02d-%02d-%s" $index $atMes $atAno)}}">{{$index}}</a></td>
                {{else if eq (index $blocks (printf "%02d-%02d-%s" $index $atMes $atAno)) true}} 
                <td class="table-warning">{{$index}}</td>
                {{else}}
                <td class="table-success">{{$index}}</td>
                {{end}}
              {{end}}
            </tr>
          </tbody>
        </table>
      </div>

  {{end}}



</div>

{{end}}

{{define "js"}}

{{end}}