{{define "base"}}

<!DOCTYPE html>
<html lang="en" class="position-relative min-vh-100">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker-bs5.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">

  {{block "css" .}}

  {{end}}

  {{block "title" .}}

  {{end}}

  <link rel="apple-touch-icon" sizes="180x180" href="/static/images//apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images//favicon-16x16.png">
  <link rel="manifest" href="/static/images//site.webmanifest">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Ol'BookShelf</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/catalogo">Catálogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/nbagame">Nba Game</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Fale Conosco</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Faça uma sugestão</a></li>
              <li><a class="dropdown-item" href="/info">Informações</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Reservar Livro
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/jancb">Uma janela em copacabana</a></li>
              <li><a class="dropdown-item" href="/sb">São Bernardo</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/login">Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {{block "content" .}}

  {{end}}

  <div class="row my-footer d-flex align-items-center">
    <div class="col-md-4">
      Página criada para inicio das atividades com GoLang.
    </div>
    <div class="col-md-4 border-dark border-start border-end">
      Praesent at ex dignissim, euismod risus sed, faucibus erat.
      Donec sodales sapien scelerisque lacus accumsan sagittis.
    </div>
    <div class="col-md-4">
      Nulla ac urna tempus, dapibus tortor quis, dignissim tellus.
      Aliquam sit amet felis vitae velit scelerisque laoreet eget tincidunt odio.
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/notie"></script>
  <script src="/static/js/app.js"></script>
  <script>
    bootstrap_form_validation(); //executa a função que verifica os forms disponiveis ao usuario
  </script>


  {{with .Error}}
    <script>notify("{{.}}", "error")</script>
  {{end}}
  {{with .Warning}}
    <script>notify("{{.}}", "warning")</script>
  {{end}}
  {{with .Flash}}
    <script>notify("{{.}}", "success")</script>
  {{end}}

  {{block "js" .}}

  {{end}}

</body>

</html>

{{end}}