{{template "base"}}

{{define "title"}}
<title>Catálogo</title>
{{end}}

{{define "css"}}

{{end}}

{{define "content"}}
<h1>Aqui será apresentado o Catálogo de livros </h1>
<br>
<h1>Veja seu endereco IP na página <a href="/nbagame"> Nba Game</a></h1>
<hr>
<div class="container text-center">
    <h2>Lorem ipsum dolor sit amet. </h2>
    <form id="sbdisp" action="/catalogo" method="post" class="needs-validation" novalidate>
        <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
        <div id="datas_reserva" class="row justify-content-center">
            <div class="col-3">
                <label for="data_inicio" class="form-label mb-0">Data Inicial:</label>
                <div class="input-group mb-0">
                    <input required type="text" name="data_inicio" class="form-control">
                    <span class="input-group-text">
                        <i class="bi bi-calendar"></i>
                    </span>
                    <div class="valid-feedback">Data válida.</div>
                    <div class="invalid-feedback">Escolha uma data válida.</div>
                </div>
            </div>

            <div class="col-3">
                <label for="data_final" class="form-label mb-0">Data Final:</label>
                <div class="input-group mb-0">
                    <input required type="text" name="data_final" class="form-control">
                    <span class="input-group-text">
                        <i class="bi bi-calendar"></i>
                    </span>
                    <div class="valid-feedback">Data válida.</div>
                    <div class="invalid-feedback">Escolha uma data válida.</div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success mt-3 pt-1">Verificar Disponibilidade</button>
    </form>
</div>
{{end}}

{{define "js"}}
<script>
    const elem = document.getElementById('datas_reserva');
    const rangepicker = new DateRangePicker(elem, {
        format: "dd/mm/yyyy",
        showOnFocus: true,
        autohide: true,
        minDate: new Date(),
        todayHighlight: true,
    });
</script>
{{end}}