{{template "base" .}}

{{define "title"}}
    <title>Home</title>
{{end}}

{{define "content"}}
    <h1>Pagina HOME </h1>
    <h1>Veja seu endereco IP na página <a href="/about"> about </a></h1>
    <hr>
    <h1>Quem está por trás das principais linguagens de programação?</h1>
    <h3>C</h3>
    <p text-align = "justify">O americano <a href="https://pt.wikipedia.org/wiki/Dennis_Ritchie" target="_blank" rel="noopener"><strong>Dennis Ritchie</strong></a> 
    foi o responsável pela criação da linguagem de programação C entre os anos de 1968 e 1973.</p>
    <h3>JavaScript</h3>
    <p text-align = "justify">Criada em 1995 pelo americano <a href="https://en.wikipedia.org/wiki/Brendan_Eich" target="_blank" rel="noopener">
    <strong>Brendan Eich</strong></a>, foi desenvolvida para dinamizar determinados processos de páginas web, 
    tornando seu uso mais agradável.</p>
    <br>
    <footer>Pagina criada para inicio das atividades com GoLang</footer>
{{end}}