{{template "base" .}}

{{define "title"}}
    <title>Tesouro 30+ pts</title>
{{end}}

{{define "css"}}
<style>
    body {
      background-color: rgb(214, 184, 180);
    }
    
    h1 {
      color: maroon;
      margin-left: 0px;
    }
    h2 {
        margin-top: 0px;
    }
    .res{
        display: inline-block;
        vertical-align: top;
        margin-left: 5px;
        margin-right: 5px;
    }
    .lf{
       margin-left: 15px;
       display: inline-block;
       vertical-align: top;
       margin-top: 0px;


    }
    .mavs{
        color: blue;
    }
    .phx{
        color: rgb(243, 74, 7);
    }
    </style>
{{end}}

{{define "content"}}
    <div>
        <h1>CHEGOU NA Pagina Nba Game BOEZAO</h1>
        <p>Voltar para <strong><a href="/info"> Info </a></strong></p>
        <div>
            {{if ne (index .StringMap "ip_remoto") ""}}
                Seu endereco IP é <strong>{{index .StringMap "ip_remoto"}}</strong>
            {{else}}
                Ainda nao encontrei seu endereco IP. Visite <a href="/info">Info</a> para que eu possa encontrá-lo.
            {{end}}
        </div>
        <hr>
        <h1>NBA Playoffs: Suns X Mavericks</h1>
        <div style="display:inline-block; vertical-align:top; margin-top: 1px;">
            <img src="https://cdn.nba.com/manage/2022/05/PHX_DAL_Rd2-1.jpg" 
            alt="Post game Press Conference: Phoenix Suns vs. Dallas Mavericks" width="300" height="180">
        </div>
            <div class="lf">
                <div class="res">
                    <h2 class="phx">Jogos em Phoenix</h2>
                    <p>Jogo 1: {{index .StringMap "jogo1"}}</p>
                    <p>Jogo 2: {{index .StringMap "jogo2"}}</p>
                    <p>Jogo 5: {{index .StringMap "jogo5"}}</p>  
                    <p>Jogo 7: {{index .StringMap "jogo7"}}</p>  
                </div>
                <div class="res">
                    <h2 class="mavs">Jogos em Dallas</h2>
                    <p>Jogo 3: {{index .StringMap "jogo3"}}</p>
                    <p>Jogo 4: {{index .StringMap "jogo4"}}</p>
                    <p>Jogo 6: {{index .StringMap "jogo6"}}</p>      
                </div>
            </div>
        </div>
{{end}}