{{template "base" .}}

{{define "title"}}
    <title>Resumo da Reserva</title>
{{end}}

{{define "css"}}

{{end}}

{{define "content"}}
    {{$res := index .Data "dadosAtualReserva"}}
    <h3 class="mt-5 mb-2 text-center">Resumo da sua reserva </h3>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td>Nome:</td>
                            <td>{{$res.Nome}} {{$res.Sobrenome}}</td>
                        </tr>
                        <tr>
                            <td>Livro:</td>
                            <td>{{$res.Livro.NomeLivro}}</td>
                        </tr>
                        <tr>
                            <td>Período</td>
                            <td>{{index .StringMap "data_inicio"}} até {{index .StringMap "data_final"}}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{$res.Email}}</td>
                        </tr>
                        <tr>
                            <td>Telefone:</td>
                            <td>{{$res.Phone}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}

{{end}}