{{template "base" .}}

{{define "title"}}
<title class="text-capitalize">Livro - São Bernardo</title>
{{end}}

{{define "css"}}
<link rel="stylesheet" href="/static/css/stylesb.css">
{{end}}

{{define "content"}}
<div class="container">
    <div class="row d-flex mt-2 align-items-center justify-content-center">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 py-1">
            <img src="/static/images/sao-bernardo.jpg" class="img-fluid cover-image">
        </div>
        <div class="col text-center">
            <h2>Lorem ipsum dolor sit amet. </h2>
            <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur elementum sodales eleifend. Morbi eu elementum sapien.
                Aenean at scelerisque ipsum. Pellentesque lobortis sit amet lacus semper mattis.
                Donec ultricies commodo porttitor. Morbi et scelerisque metus, vel tempus urna.
                Vestibulum laoreet, libero eu tincidunt rutrum, lorem ex elementum ligula, ut luctus sem dolor sed
                tortor.
            </p>
            <button id="botao_verf_disponibilidade" class="btn btn-secondary mt-3">Clique aqui!</button>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script src="/static/js/pagLivro.js"></script>
<script>
    //encontra no documento o botao que é o gatilho para abrir a janela de escoher datas
    document.getElementById("botao_verf_disponibilidade").addEventListener("click", function () {
        let html = `
            <form id="form_checar_disponibilidade" action="" method="post" novalidate class="needs-validation m-0">
                <div class="row justify-content-between px-0 mx-0" id="datas_reserva_modal">
                    <div class="col">
                        <div class="input-group mb-0">
                            <input disabled required type="text" id="data_inicio" name="data_inicio" class="form-control" placeholder="Inicio">
                                <span class="input-group-text">
                                    <i class="bi bi-calendar"></i>
                                </span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-0">
                            <input disabled required type="text" id="data_final" name="data_final" class="form-control" placeholder="Final">
                                <span class="input-group-text">
                                    <i class="bi bi-calendar"></i>
                                </span>
                        </div>
                    </div>
                </div>
            </form>  
            `
        alertar.custom({
            msg: html,
            title: "Escolha as datas",
            willOpen: () => {
                const elem = document.getElementById("datas_reserva_modal");
                const data_hj = new Date();
                const dp = new DateRangePicker(elem, {
                    format: "dd-mm-yyyy",
                    showOnFocus: true,
                    autohide: true,
                    maxNumberOfDates: 1,
                    minDate: data_hj,
                    todayHighlight: true,

                })
                let el = document.getElementById("swal2-html-container");
                el.style.zIndex = "10000";
                el.style.overflow = "visible";
                const startElem = document.getElementById('data_inicio');
                const endElem = document.getElementById('data_final');
                startElem.addEventListener('changeDate', function (e) {
                    let di = processarString(e.target.value)
                    let df = processarString(endElem.value)
                    max_df = new Date()
                    max_df.setDate(di.getDate() + 7)
                    dp.setOptions({
                        maxDate: max_df,
                    })
                    let diff = parseInt((df - di) / (1000 * 60 * 60 * 24), 10) + 1
                    if (diff > 7) {
                        endElem.value = processarData(max_df.toISOString().split('T')[0])
                    }
                }),
                    endElem.addEventListener('changeDate', function (e) {
                        let di = processarString(startElem.value)
                        let df = processarString(e.target.value)
                        min_di = new Date()
                        min_di.setDate(df.getDate() - 7)
                        let diff = parseInt((df - di) / (1000 * 60 * 60 * 24), 10) + 1
                        if (diff > 7) {
                            valorCorrigido = processarData(min_di.toISOString().split('T')[0])
                            startElem.value = valorCorrigido
                        }
                    })
            },
            preConfirm: () => {
                return [
                    document.getElementById('data_inicio').value,
                    document.getElementById('data_final').value
                ]
            },
            didOpen: () => {
                document.getElementById("data_inicio").removeAttribute("disabled");
                document.getElementById("data_final").removeAttribute("disabled");
                // document.getElementById("form_checar_disponibilidade").addEventListener('submit', callbackJsonAfterPickDate("form_checar_disponibilidade", "2"), false)
            },
            callback: callbackJsonAfterPickDate("form_checar_disponibilidade","2")
        });
    })
</script>
{{end}}